* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Hader */

header {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.title {
    margin: 20px 0 3.5em 0;
    font-size: 35px;
    text-align: center;
}

.img_perfil_header {
    height: 160px;
    border-radius: 100px;
    /* border: 4px solid #3f6ddd; */
    box-shadow: 0 0 25px #7629cf;

    position: absolute;
    top: 9em;
}

.img_perfil_header img {
    height: 100%;
}

@media screen and (min-width: 545px) {
    .img_perfil_header {
        top: 6.5em;
    }
}

/* Sections */
.info_personal {
    background: #3f6ddd;
    color: #FFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info_personal ul {
    padding: 6em 35px;
}

.info_personal ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 25px;
}

/* Footer */

footer {
    padding: 30px;
    background: #e7464b;

    display: flex;
    justify-content: center;
}

footer img {
    width: 30px;
    margin: 0 10px;
}